<% provide(:title, "Edit user") %> 
<div class="center hero-unit">
<h1>Update user profile</h1>
</div>
<div class="row">
 <div class="span6 offset3">
  <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
  
      <%= f.label :name %>
      <%= f.text_field :name %>
    
      <%= f.label :email %>
      <%= f.text_field :email %>
     
      <%= f.label :password %>
      <%= f.password_field :password %>
      
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
      
      <div class="actions" >
	<%= f.submit "Save Changes", :class => "btn btn-large btn-primary" %>
      </div>
     <% end %>  
 </div>
</div> 

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change your gravatar image</a>



