<%provide(:page_title, "Signed up") %>  
<div class="center hero-unit">
<table class="profile">
<tr>
<td class="main">
<h1>
<%= gravatar_for @user %>


<%= @user.name %>

</h1>
</div>
</td>
<td class="sidebar round"> 
<strong>Name</strong> <%= @user.name %><br />
<strong>URL</strong> <%= link_to user_path(@user), @user %><br />
<strong>URL</strong> <%= link_to edit_user_path(@user) %><br />

</td>
</tr>
</table>
